<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">
  <title>Arduino Generator Code Dashboard</title>
</head>
<body>
	<nav th:replace="layouts :: navbarContributor"></nav>
	<div>
	   <h1>Creating the folowing Contributor</h1>   

		<h5>Result : [[${response.responseStatusMessage}]]</h5><br><br>
		
		
		
		<form>
		<table>
			<tr>
				<td>Contributors Name: </td>
				<td>
					<input id="contributorsName" placeholder="Contributors Name" required type="text" th:field="${response.contributorsName}"/><br/>
				</td>
			</tr>
			<tr>
				<td>Contributors Guid:</td> 
				<td>
					<input id="contributorsGuid" placeholder="Contributors Guid" required type="text" th:field="${response.contributorsGuid}"/><br/>
				</td>
			</tr>
			<tr>
				<td>Contributors Blog Page:</td>
				<td>
			 		<input id="contributorsBlogPage" placeholder="Contributors Blog Page" required type="text" th:field="${response.contributorsBlogPage}"/><br/>
				</td>
			</tr>
			<tr>
				<td>Contributors Youtube Page:</td>
				<td>
			 		<input id="contributorsYoutubePage" placeholder="Contributors Youtube Page" required type="text" th:field="${response.contributorsYoutubePage}"/><br/>
				</td>
			</tr>
			
			
		</form>
		
	</div>
</body>
</html>