<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">
  <title>Arduino Generator Code Dashboard</title>
</head>
<body>
	<nav th:replace="layouts :: navbarGetgenerateNewProject"></nav>
	<div>
	   <h1>Generate New Project From Existing Code</h1>
		In order to use this facility you need to find one or more Project GUID texts by Listing all projects<br>
		or by using Search Projects (searching by category) to find all the Project GUIDs you need.<br>
		This will then aggregate all to code into one raw project that you need to masage and add your own code to make your new project work<br>
		Once you have a new project that works you can then contribute this as a new Project.<br>
		We would recoment to keep all the contributors names as well as yours in the ContributorsName Field as recognition to their original code<br>
		<br><br>
		
		<form  th:action="@{/project/generateNewProjectAction}" th:object="${buildProjectRequest}" method="POST">
			<input id="projectName" placeholder="Enter Project Name" required type="text" th:field="${buildProjectRequest.projectName}"/><br/>
			<input id="description" placeholder="Enter Project description" required type="text" th:field="${buildProjectRequest.description}"/><br/>

			<input id="featureName" placeholder="Enter Feature Name" required type="text" th:field="${buildProjectRequest.featureName}" /><br/>
			<input id="prerequisites" placeholder="Enter Prerequisites" required type="text" th:field="${buildProjectRequest.prerequisites}"/><br/>
						
			<select id="computerLanguage" name="computerLanguage" th:field="${buildProjectRequest.computerLanguage}"  >	
			  <option value="">Select Computer Language</option>							
			  <option value="C++">C++</option>
			  <option value="Python">Python</option>
			  <option value="Assembler">Assembler</option>
			  <option value="Forth">Forth</option>
			</select><br>
			
			
			<select id="microController" name="microController" th:field="${buildProjectRequest.microController}"  >	
			  <option value="">Select Micro Controller</option>							
			  <option value="arduinoUno">Arduino Uno</option>
			  <option value="arduinoNano">Arduino Nano</option>
			  <option value="ArduinoMicro">Arduino Micro</option>
			  <option value="ArduinoMega">Arduino Mega</option>
			  <option value="ArduinoLeonardo">Arduino Leonardo</option>
			  <option value="ArduinoDue">Arduino Due</option>
			  <option value="ArduinoDuemilanove">Arduino Duemilanove</option>
			  <option value="ArduinoGenuino">Other Arduino Genuino</option>
			  <option value="ArduinoZero">Arduino Zero</option>
			  <option value="ArduinoYún">Arduino Yún</option>
			  <option value="ArduinoPro">Arduino Pro</option>
			  <option value="ArduinoFio">Arduino Fio</option>
			  <option value="ArduinoProMini">Arduino Pro Mini(Sparkfun)</option>
			  <option value="Seeeduino">Seeeduino</option>
			  <option value="ESP32DEVKIT">ESP32 DEV KIT</option>
			  <option value="HUZZAH32">HUZZAH32(Adafruit)</option>
			  <option value="ESP32LOLINOLED">ESP32 LOLIN OLED</option>
			  <option value="SX1278 ESP32">SX1278 ESP32 (LoRa)</option>
			  <option value="PiPico">Raspberry Pi Pico</option>
			  <option value="ESP32BluePill">ESP32 Blue Pill</option>
			  <option value="ESP32BlackPill">ESP32 Black Pill</option>
			  <option value="NotListedHere">Not Listed here</option>
			</select><br>
			
			
			<input id="contributorsName" placeholder="Contributors Name" required type="text" th:field="${buildProjectRequest.contributorsName}"/><br/>
			<input id="contributorsGuid" placeholder="Contributors Guid" required type="text" th:field="${buildProjectRequest.contributorsGuid}"/><br/>
			<input id="contributorsBlogPage" placeholder="Contributors Blog Page" required type="text" th:field="${buildProjectRequest.contributorsBlogPage}"/><br/>
			<input id="contributorsYoutubePage" placeholder="Contributors Youtube Page" required type="text" th:field="${buildProjectRequest.contributorsYoutubePage}"/><br/>
			<input id="firstModule" placeholder="Enter First Module GUID" required type="text" th:field="${buildProjectRequest.firstModule}"/><br/>
			<input id="secondModule" placeholder="Enter Second Module GUID"  th:field="${buildProjectRequest.secondModule}"/><br/>
			<input id="ThirdModule" placeholder="Enter ThirdModule GUID"  th:field="${buildProjectRequest.ThirdModule}"/><br/>
			<input id="forthModule" placeholder="Enter ForthModule GUID"  th:field="${buildProjectRequest.forthModule}"/><br/>
			<input id="fifthModule" placeholder="Enter FifthModule GUID"  th:field="${buildProjectRequest.fifthModule}"/><br/>


			<input type="submit" value="Generate Project">
		</form>
		
	</div>
</body>
</html>