<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">
  <title>Arduino Generator Code Dashboard</title>
</head>
<body>
	<nav th:replace="layouts :: navbarGenerate"></nav>
	<div>
	   <h1>Generate the Arduino IDE Code</h1>
		Welcome to the Arduino Code Generator
	</div>
	<div>	
		<form>
			
			<input disabled="true" id="firstModule" placeholder="Enter Project GUID" required type="text" th:field="${buildProjectResponse.responseStatusMessage}" /><br><br><br>
			<textarea th:value="${buildProjectResponse.generatedCode}" />
		</form>
	</div>
</body>
</html>