<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">
  <title>Arduino Generator Code Dashboard</title>
</head>
<body>
	<nav th:replace="layouts :: navbarUpdate"></nav>
	
	<div>
	   <h1>Update a Project</h1>
		
		<form  th:action="@{/project/updateForm}" th:object="${uploadFeatureDto}" method="GET">
		Enter Project Guid:<br>
		<input id="projectGUID" placeholder="Enter Project Guid" required type="text" th:field="${uploadFeatureDto.projectGUID}"/><br/>
		
		
			<input type="submit" value="Search Projects">
		</form>

	</div>
</body>

</html>