<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">
  <title>Arduino Generator Code Dashboard</title>
</head>
<body>
	<nav th:replace="layouts :: navbarUpdate"></nav>
	
	<div>
	   <h1>Update a Project</h1>
		
		<form  th:action="@{/project/updateAction}" th:object="${uploadFeatureDto}" method="GET">
			<input type="hidden" id="projectGUID" name="custId" th:field="${projectFeature.projectGUID}">

			<input id="contributorsName" placeholder="Enter Contributors Name" required type="text" th:field="${projectFeature.contributorsName}"/><br/>
			<input id="contributorsGuid" placeholder="Enter Contributors Guid" required type="text" th:field="${projectFeature.contributorsGuid}"/><br/>
			<input id="contributorsBlogPage" placeholder="Enter Contributors Blog Page" required type="text" th:field="${projectFeature.contributorsBlogPage}"/><br/>
			<input id="contributorsYoutubePage" placeholder="Enter Project description" required type="text" th:field="${projectFeature.contributorsYoutubePage}"/><br/>
			

			
			<select id="projectType" name="projectType" th:field="${projectFeature.projectType}"  >	
			  <option value="">Select Project Type</option>							
			  <option value="arduinoUno">Arduino Uno</option>
			  <option value="arduinoNano">Arduino Nano</option>
			  <option value="otherArduino">Other Arduino</option>
			</select><br>
			
			
					
		<select id="category" name="category" th:field="${uploadFeatureDto.category}"  >
			<option value="projectFeature.category" th:text="${projectFeature.category}"></option>
			<option value="">Select Category</option>				
			<option th:each="theCategory : ${categories}" th:value="${theCategory}" th:text="${theCategory}"></option>					
			<option value="otherCategory">Other Category</option>
		</select><br>		
		
			<input id="otherCategory" placeholder="Enter Other Category"  th:field="${uploadFeatureDto.otherCategory}"/><br/>
			
			<select id="featureStatus" name="featureStatus" th:field="${uploadFeatureDto.featureStatus}"  >
			  <option value="projectFeature.featureStatus" th:text="${projectFeature.featureStatus}"></option>
			  <option value="">Select Status</option>				
			  <option value="newProject">New Project</option>
			  <option value="updatedProject">Updated Project</option>
			  <option value="inProgress">In progress</option>
			  <option value="unsuportedProject">unsuported old Project</option>
			</select><br>

			<input id="featureName" placeholder="Enter Feature Name" required type="text" th:field="${projectFeature.featureName}" /><br/>
			<input id="description" placeholder="Enter Project description" required type="text" th:field="${projectFeature.description}"/><br/>
			<input id="prerequisites" placeholder="Enter Prerequisites" required type="text" th:field="${projectFeature.prerequisites}"/><br/>
			<input id="computerLanguage" placeholder="Enter Computer Language" required type="text" th:field="${projectFeature.computerLanguage}"/><br/>
			<input id="microController" placeholder="Enter Micro Controller" required type="text" th:field="${projectFeature.microController}"/><br/>
			MCU Pins Used:<br>
			&nbsp;&nbsp;<textarea style="width:750px; height: 50px;" th:field="${projectFeature.mcuPinsUsed}"  th:inline="text">[[${projectFeature.featurecode}]]</textarea><br>

			Class Imports:<br>
			&nbsp;&nbsp;<textarea style="width:750px; height: 50px;" th:field="${projectFeature.featureClassImports}"  th:inline="text">[[${projectFeature.featurecode}]]</textarea><br>

			Assignments:<br>
			&nbsp;&nbsp;<textarea style="width:750px; height: 50px;" th:field="${projectFeature.featureAssignment}"  th:inline="text">[[${projectFeature.featurecode}]]</textarea><br>
			Main Code block:<br>
			&nbsp;&nbsp;<textarea style="width:750px; height: 500px;" th:field="${projectFeature.featurecode}"  th:inline="text">[[${projectFeature.featurecode}]]</textarea><br>


			<input type="submit" value="Update Project">
		</form>
	</div>
</body>
</html>