<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">
  <title>Arduino Generator Code Dashboard</title>
</head>
<body>
	<nav th:replace="layouts :: navbarHOME"></nav>
	<div>
	   <h1>Arduino IDE Code Generator</h1>
		&nbsp;Welcome to the Arduino IDE Code Generator<br><br>
		&nbsp;In order to genetate the code of an existing project in this service.<br>
		&nbsp;You first need to List all the projects clicking on the List All Projects tab<br> 
		&nbsp;Then locate the project you want, and copy the GUID text<br>
		&nbsp;Then click on the Generate Code tab, and type the GUID test in the Pjoject GUID field and press the Generate Project button.<br><br><br>
		&nbsp;If a developer of a project on this site has given you a GUID code for a project you can get the sourcecode : <button class="GFG" 
    onclick="window.location.href = '/project/generate';">
        Click Here to generate the sourcecode
    </button> 
		
	</div>
</body>
</html>